body{
  text-align:left;
}
.img-responsive{
  max-width:100%;
  display:block;
  margin:0 auto;
  
}
#tribute-info{
  width:50%;
  margin:0 auto;
}
#img-caption{
  text-align:center;
  
}
#title{
    text-align:center;
}